name: wheels

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build_wheels:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build wheels (musllinux)
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_BUILD: "cp313-musllinux_${{ matrix.arch }}"
          CIBW_ARCHS_LINUX: "${{ matrix.arch }}"
          CIBW_TEST_SKIP: "*"

          # deps needed to compile tgcrypto in musllinux container
          CIBW_BEFORE_ALL_LINUX: >
            apk add --no-cache
            build-base
            linux-headers
            python3-dev
        # if tgcrypto needs openssl headers too, add: openssl-dev

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.arch }}
          path: wheelhouse/*.whl

  publish:
    needs: build_wheels
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: dist
